<mat-card class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="login()"
        class="login100-form validate-form flex-sb flex-w"
      >
        <div class="w-100 text-center">
          <p class="login100-form-title color-dark-blue font-weight-bold mb-4">
            LOGIN
          </p>
        </div>

        <div class="my-3">
          <app-input-form
            [fControl]="formControlUserName"
            placeHolder="Usuario"
            type="text"
          ></app-input-form>
        </div>

        <div class="my-3">
          <app-input-form
            [fControl]="formControlPass"
            placeHolder="Contraseña"
            type="password"
          ></app-input-form>
        </div>

        <div class="w-100 text-center my-3">
          <div class="contact100-form-checkbox d-flex justify-content-center mb-3">
            <app-input-checkbox
              text="Recordar mi usuario"
            ></app-input-checkbox>
          </div>

          <div>
            <a routerLink="/home/registro" class="link color-turq font-16">
              ¿No tienes cuenta?
            </a>
          </div>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn font-16 w-100" type="submit">
            INGRESAR
          </button>
        </div>

      </form>
    </div>
  </div>
</mat-card>
