<mat-card class="animated fadeIn">
  <div class="row">
    <div class="col-12">

      <div class="w-100 text-center">
        <p class="login100-form-title color-dark-blue font-weight-bold mb-4">
          CREAR UNA CUENTA
        </p>
      </div>

      <mat-horizontal-stepper>
        <mat-step>
          <ng-template matStepLabel>Datos de la cuenta</ng-template>

          <form [formGroup]="registerForm">
            <div class="my-3">
              <app-input-form
                [fControl]="formControlUserName"
                placeHolder="Usuario"
                type="text"
              ></app-input-form>
            </div>

            <div class="my-3">
              <app-input-form
                [fControl]="formControlPass"
                placeHolder="Contraseña"
                type="password"
              ></app-input-form>
            </div>

            <div class="my-3">
              <app-input-form
                [fControl]="formControlConfirmPass"
                placeHolder="Confirme su contraseña"
                type="password"
              ></app-input-form>
            </div>
          </form>
          <div class="text-center w-100 my-3">
            <div class="contact100-form-checkbox d-flex justify-content-center mb-3">
              <app-input-checkbox
                text="Recordar mi usuario"
                [control]="getFormControlRememberUser"
              ></app-input-checkbox>
            </div>
          </div>
          <div class="container-login100-form-btn">
            <button mat-button matStepperNext class="login100-form-btn font-16 w-100" type="button">
              Siguiente
            </button>
          </div>

          <div class="text-center w-100 my-3">
            <a routerLink="/home/login" class="link color-turq font-16">
              ¿Ya tienes cuenta? / Ingresar
            </a>
          </div>
        </mat-step>

        <mat-step>

          <ng-template matStepLabel>Datos Personales</ng-template>
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="my-3">
              <app-input-form
                [fControl]="formControlName"
                placeHolder="Nombres"
                type="text"
              ></app-input-form>
            </div>

            <div class="my-3">
              <app-input-form
                [fControl]="formControlLastName"
                placeHolder="Apellidos"
                type="text"
              ></app-input-form>
            </div>

            <div class="my-3">
              <app-input-form
                [fControl]="formControlPhoneNumber"
                placeHolder="Número telefónico"
                type="text"
              ></app-input-form>
            </div>

            <div class="my-3 text-center">
              <app-input-radio text="Docente" class="mr-3"></app-input-radio>
              <app-input-radio text="Tutor"></app-input-radio>
            </div>

            <div class="container-login100-form-btn ">
              <button class="login100-form-btn font-16 w-100" type="submit">
                Crear cuenta
              </button>
            </div>
          </form>

        </mat-step>
      </mat-horizontal-stepper >

    </div>
  </div>
</mat-card>
